tbody {
  display: block;
  height: 350px;
  overflow: auto;
  text-align: center;
}
thead, tbody tr {
  text-align: center;
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}
thead {
  width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
  width: 400px;
}
