.toolTipCustom {
  position: relative;
  display: inline-block;
}
.toolTipCustom .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #636464;
  font-size:14px;color:#fff;
  font-family: Arial, serif;
  text-align: center;
  border-radius: 3px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 50%;
  margin-left: -60px;
}

.toolTipCustom .tooltipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #636464FF transparent;
}

.toolTipCustom:hover .tooltipText {
  visibility: visible;
}
