<div class="row">
  <div class="card border-secondary mb-3">
    <div class="card-body">
      <h3>Select your program</h3>
      <select style="width: 260px" [(ngModel)]="majorSelection" name="major" id="major" class="btn btn-secondary dropdown-toggle" (change)="getCoursesForMajor()">
        <option value="INFS">Information Systems</option>
        <option value="SWE">Software Engineering</option>
      </select><br><br>
      <div class="container" style="background-color: aliceblue"></div>
    </div>
  </div>
</div>
