<div class="row">
  <div class="col-lg-4" id="coreColumn">
    <h2 style="margin-top: 15px">Core Courses</h2>
    <div style="overflow-y: auto; height: auto;">
      <app-accordion [accordionType]="'Core'"
                      [filter]="{type: 'Core'}"
      ></app-accordion>
    </div>
  </div>
  <div class="col-lg-4" id="relatedColumn">
    <h2 style="margin-top: 15px">Related Courses</h2>
    <app-accordion [accordionType]="'Related'"
                   [filter]="{type: 'Related'}"
    ></app-accordion>
  </div>
  <div class="col-lg-4" id="electivesColumn">
    <h2 style="margin-top: 15px">Elective Courses</h2>
    <app-accordion [accordionType]="'Electives'"
                   [filter]="{type: 'Elective'}"
    ></app-accordion>
  </div>
</div>

<div class="row" style="margin-top: 50px; margin-bottom: 50px; display: none; text-align: center" id="generateScheduleButton">
  <div class="d-flex justify-content-center">
    <div class="card border-secondary mb-3" style="width: 400px">
      <div class="card-body">
        <label style="font-weight: bold">Courses per Semester</label><br>
        <select [(ngModel)]="coursesPerSemester" name="major" id="major" class="btn btn-secondary dropdown-toggle">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
        </select><br><br>
        <button style="width: 100%" type="button" class="btn btn-info" [disabled]="this.totalTakenCredits == 30" (click)="verifySelection(content)">Generate Schedule</button>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Please verify your course selection</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>The following prerequisite for the class {{requiredPrereq.prereq.dcode + "-" + requiredPrereq.prereq.cno}} is missing: </label>
      <br>
      <ul>
        <li>{{requiredPrereq.prereq.pcode + "-" + requiredPrereq.prereq.pno}}</li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Dismiss</button>
    </div>
  </ng-template>
</div>
